<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{ request.session.counter}}</p>

    <!-- <form action="/add2" method="post">
    {% csrf_token %} 
    <input type="submit" value="Add Two">
    </form> -->

    <button type="submit"><a href="/add2">Add Two</a></button> 
    <button type="submit"> <a href="/destroy">Reset</a></button> 
   

</body>
</html>