<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
   
   
        .cont{
            text-align: center;
        }
        .square{
            height: 150px;
            width: 150px;
            background-color: {{color}};
            display: inline-block;
            
        }

    </style>
    <title>playground</title>
</head>
<body>
    <div class="cont">
        <h1>hello world</h1>
        {% for i in range(num_square)%}
            <div class="square"></div>
        {% endfor %}
        
    </div>
</body>
</html>